requirejs.config({
    baseUrl: '/',
    paths: {
        jquery: 'plugins/jquery.min',
        foundation: 'plugins/foundation/foundation.min',
        stickyAnything: 'plugins/jq-sticky-anything.min',
        multiFile: 'plugins/jQuery.MultiFile.min',
        underscore: 'javascripts/underscore',
        owlCarousel: 'plugins/owl.carousel.min'
    },
    shim: {
        foundation: {
            deps: ['jquery']
        },
        stickyAnything: {
            deps: ['jquery']
        },
        multiFile: {
            deps: ['jquery']
        },
        owlCarousel: {
            deps: ['jquery']
        }
    }
});