requirejs.config({
    baseUrl: '/',
    paths: {
        jquery: 'plugins/foundation/foundation-js/vendor/jquery',
        foundation: 'plugins/foundation/foundation-js/foundation.min',
        modernizr: 'plugins/foundation/foundation-js/vendor/modernizr',
        stickyAnything: 'plugins/jq-sticky-anything.min',
        global: 'javascripts/global',
        multiFile: 'plugins/jQuery.MultiFile.min'
    }
});