requirejs.config({
    baseUrl: '/',
    paths: {
        jquery: 'plugins/foundation/foundation-js/vendor/jquery',
        foundation: 'plugins/foundation/foundation-js/foundation.min',
        modernizr: 'plugins/foundation/foundation-js/vendor/modernizr',
        stickyAnything: 'plugins/jq-sticky-anything.min',
        global: 'javascripts/global',
        multiFile: 'plugins/jQuery.MultiFile.min',
        underscore: 'javascripts/underscore',
        owlCarousel: 'plugins/owl.carousel.min'
    },
    shim: {
        foundation: {
            deps: ['jquery']
        },
        stickyAnything: {
            deps: ['jquery']
        },
        multiFile: {
            deps: ['jquery']
        },
        modernizr: {
            deps: ['jquery']
        },
        owlCarousel: {
            deps: ['jquery']
        }
    }
});