/*Utility Classes*/
.color-white {
	color: white;
}
.inline-block {
	display: inline-block;
}
.no-padding-left {
	padding-left: 0 !important;
}
.no-padding-right {
	padding-right: 0 !important;
}
.no-max-width {
	max-width: none !important;
}

/*Customiz CSS*/
img.logo-img {
	height: 30px;
	margin-left: 10px;
	margin-top: 6px;
}

@media only screen and (min-width: 40.0625em){
	.top-bar .title-area {
    	width: 55%;
	}
}
@media only screen and (min-width: 641px) and (max-width: 751px){
	.top-bar .title-area {
    	width: 50%;
	}
}
