/*Utility Classes*/
.color-white {
    color: white;
}
.inline-block {
    display: inline-block;
}
.no-padding-left {
    padding-left: 0 !important;
}
.no-padding-right {
    padding-right: 0 !important;
}
.no-max-width {
    max-width: none !important;
}
.max-height {
    max-height: 44px !important;
}
.hidden {
    display: none !important; 
}
.text-center {
    text-align: center;
}

/*Customiz CSS*/
img.logo-img {
    height: 30px;
    margin-left: 10px;
    margin-top: 6px;
}
a span {
    font-family: fantasy;
}
.top-bar-section img {
    height: 40px;
}
.contact-overlay {
    max-height: 327px;
    min-height: inherit !important;
    background: -webkit-linear-gradient(90deg, #D3959B 10%, #BFE6BA 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(90deg, #D3959B 10%, #BFE6BA 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(90deg, #D3959B 10%, #BFE6BA 90%); /* IE10 */
    background:      -o-linear-gradient(90deg, #D3959B 10%, #BFE6BA 90%); /* Opera 11.10+ */
    background:         linear-gradient(90deg, #D3959B 10%, #BFE6BA 90%); /* W3C */           
}

/*small screen only*/
@media only screen and (max-width: 640px) {
    .top-bar-section .header-categories {
        display: block !important;
    }
}
/*medium up*/
@media only screen and (min-width: 641px){
    .top-bar .title-area {
        width: 30%;
    }
    img.logo-img {
        height: 90px;
        position: fixed;
        z-index: 99;
        margin-left: 0;
        margin-right: 0;
        left: 10px;
        top: 0px;
    }
}
/*medium screen only*/
@media only screen and (max-width: 1024px) and (min-width: 642px) {
    .top-bar .title-area { 
        width: 70%;
    }
}